@charset "UTF-8";
	html {
		font-size:10px; 
	}
	/* 헤더 */
	header {
		width: 80%;
		height: 35vh;
		margin: 0 auto;
		text-align: center;
		margin-top: 50px;
	}
	#headerImage {
		width: 30%;
		height: 30vh; 
	}
	#headerText{
		display: inline-block;
		color: black;
		font-size: 4rem;
		font-weight: 600;
		margin-top: 2vh;
		text-decoration: none; /*링크 안보임*/
	}
	/*nav 메뉴 목록 만들기*/
	nav {
		width: 90%;
		background: blueviolet;
		margin: 0 auto;
		margin-top: 5vh;
		text-align: center;
	}
	ul { /*여백과 패팅 0*/
		margin: 0 auto;
	}
	li{
		display: inline;
		margin: 0 auto;
	}
	li a:hover {
		color: red; /*마우스 올라갈때 색 */
	}	
	#blank {
		height: 5vh;
	}
	#contents1 {
		margin: 0 auto;
		width: 70%;
		height: 120vh;
		border: 1px solid red;
		background-color: #ffdddd;
	}
	#contents2 {
		margin: 0 auto;
		width: 70%;
		height: 120vh;
		border: 1px solid green;
		background-color: #ceffce;
	}
	#contents3 {
		margin: 0 auto;
		width: 70%;
		height: 120vh;
		border: 1px solid blue;
		background-color: #e3e3ff;
	}
	#title {
		margin-top: 4vh;
		font-size: 4rem;
		font-weight: 600;
		text-align: center;
	}
	#imagebig {
		width: 30vw;
		height: 50vh;
		margin-top: 4vh;
		margin-left: 3vw;
	}
	#textbox {
		width: 40vw;
		height: 50vh;
		margin-left: 31vw;
		margin-top: -44vh;
		text-align: center;
		font-size: 3rem;
		font-weight: 500;
	}
	#imagesmall1 {
		display: inline-block;
		width: 14vw;
		height: 23vh;
		margin-top: -6vh;
		margin-left: 3vw;
	}
	#imagesmall2 {
		display: inline-block;
		width: 14vw;
		height: 23vh;
		margin-top: 2vh;
		margin-left: 3vw;
	}
	#map {
		display: inline;
		width: 30vw;
		margin-top: -5vh;
		margin-right: 2vw;
		float: right;
	}